/*NOTE elements*/
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(235, 235, 235);
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1, a {
    user-select: none;
}

::selection {
    color:#000;
    background: #fff;
}

video {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /*ilter: sepia(100%) contrast(1.2) hue-rotate(320deg);*/
}
/* ----------------------------- elements*/

/*NOTE svg*/
#wave1 {
    transform: scaleX(-1);
    position: absolute;
    top:26vw;
    z-index: 8;
}
#wave2 {
    position: absolute;
    top:67vw;
    z-index: 8;
}

svg {
    position: relative;
    top:2vh;
    z-index: -2;
}

/* ----------------------------------- svg */

/* NOTE Menu list (nav) */
.menu-list {
    /* grid-area: menu1;
    place-self: start center; */
    position: relative;
    list-style: none;
    margin-top: 10px;
    left:35%;
    z-index: 10;
}
.menu-list li {
    text-transform: uppercase;
    position: relative;
    display: inline;
    padding: 0 2vw;
    font-size: 20px;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.15em;
    user-select: none;
}

.menu-list li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu-list li a:hover::after {
    width: 40%; 
    left: 30%; 
}
/* --------------------------------------- Menu */
/* NOTE Main Landing page */
.main-btn {
    display: grid;
    place-self: center start;
    position: relative;
    grid-area: mainbtn;
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
    color: #fff;
    font-size: 42px;
    transition: 0.5s all ease;
    letter-spacing: 0.25em;
    margin-left: 5%;
}

.main-btn:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s all ease;
}

.main-landing {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 30% auto;
    grid-template-rows: 20% 15% 15% 10% auto;
    grid-template-areas: 
    "spacer11 spacer12 menu1"
    "spacer21 maintitle1 spacer23"
    "spacer31 mainabout spacer33"
    "spacer41 mainbtn spacer43"
    "spacer51 spacer52 spacer53";
    height: 40vw;
    z-index: -1;
    top: 0;
    margin: 0;
    background-color: rgb(48, 48, 48);
}

.main-landing h1 {
    position: relative;
    grid-area: maintitle1;
    place-self: center start;
    color: #fff;
    font-weight: 300;
    font-size: 60px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    user-select: none;
}
.main-landing p {
    position: relative;
    grid-area: mainabout;
    place-self: center start;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    z-index: 1;
    justify-content: justify;
    text-align: justify;
}
.main-navbar {
    width: 100vw;
    height: 5vh;
    position: fixed;
    background-color: rgba(47, 48, 53, 0);
    z-index: 10;
    transition: all 0.3s ease;
}

/* -----------------------------------Main Landing Page */

/* NOTE Main Products */
.main-products {
    height: 30vh;
    width: 80vw;
    margin: 5% auto;
    margin-bottom:15%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    "suse microfocus dunno1 dunno2";
    border: 3px solid #000;
    border-radius: 10px;
}

.main-products div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80% 20%;
    grid-template-areas: "picture"
    "text";
    width: 100%;
    height: 100%;
    transition: 0.3s all ease;
}

.main-products a {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}

.main-products div:hover {
    transition: 0.3s all ease;
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(0) invert(1);
}

.products-title {
    font-size: 50px;
    font-weight: 300;
    position: relative;
    padding-left: 5%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 5% 0% 0% 0%;
}

.products-single {
    grid-area: text;
    place-self: end center;
}

.products-single-img {
    width: 100px;
    filter: saturate(0) contrast(4);
    grid-area: picture;
    place-self: center center;
}

.products-bg-image {
    z-index: -4;
    position: absolute;
    left: calc(50% - 250px);
    width: 500px;
    filter: saturate(0) contrast(0.1) blur(5px);
    /* visibility: hidden; */
    vertical-align: middle;
}

/* --------------------------------------Main Products */

/* NOTE Main Services */
.main-services {
    height: 100%;
    background-color: #e0dddc;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 90%;
    grid-template-areas: 
    "title1 spacer1"
    "education support";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.services-title {
    position: relative;
    grid-area: title1;
    place-self: center start;
    padding-left: 10%;
    /* margin: 5% 0% 0% 0%; */
}
.services-education {
    grid-area: education;
    place-self: center center;
    width: 100%;
    height: 80vh;
    background: url("/media/services-education.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.services-education-title, .services-support-title {
    color: #fff;
    font-size: 80px;
    display: flex;
    position: relative;
    justify-content: center;
    top: 50%;
    transition: 0.3s all ease;
}

.services-education-desc, .services-support-desc {
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    display: flex;
    justify-content: center;
    top: 50%;
    visibility: hidden;
    transition: 0.1s all ease;

}

.services-education:hover, .services-support:hover {
    width: 95%;
    transition: all 0.3s ease;
}

.services-support {
    grid-area: support;
    place-self: center center;
    width: 100%;
    height: 80vh;
    background: url("/media/services-support.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}
/*-------------------------------------------------Main Services  */

/*NOTE Main achievments*/
.main-achievments {
    background-color: rgb(235, 235, 235);
    height: 80vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 20% repeat(3, auto); 
    grid-template-areas: 
    "spacer11 title1 spacer12"
    "spacer21 achievment1 spacer22"
    "spacer31 achievment2 spacer32"
    "spacer41 achievment3 spacer42";
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.main-achievments-title {
    grid-area: title1;
    place-self: center start;
    padding:0;
    margin: -6%;
}

.achievments-customers{
    display: flex;
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #A19D9B;
    grid-area: achievment1;
    place-self: center center;
    border-radius: 20px;
}
.achievments-customers h1 {
    position: relative;
    font-size: 50px;
    color: #fff;
    margin: auto 5%;
}

.achievments-customers p {
    position: relative;
    color: #fff;
    font-size: 24px;
    margin: 2% 5%;
    width: 100%;
}
.achievments-count {
    position: absolute;
    font-weight: 700;
    font-size: 180px !important; 
    bottom: -40%;
    right: 0;
    color: #615E5D !important;
}
/* --------------------------------------------------Main achievments */